body {
    padding: 20px;
}
/* List of notes */
#list {
    overflow: auto;
    border: solid 1px;
    list-style: none;
    -webkit-padding-start: 0px;
    margin-right: 0;
    margin-left: 0;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
	min-height:300px;
}
#list li {
    padding: 20px;
    border: solid 1px;
    border-color: #ddd;
    border-width: 1px;
}
#list li:nth-child(n){
    background-color: #FFFF99;
}
#list li:nth-child(2n+2){
    background-color: #33FF99;
}
#list li:nth-child(3n+3){
    background-color: #FF9999;
}
#list li.selected{
    background-color: #B8D0E6;
}
#list li:hover {
    cursor: pointer;
}
.div-name {
    display: inline-block;
    width: 260px;
}
.div-date{
    display: inline-block;
    width: 90px;
}
.edit-content {
    width: 500px;
}
#list-note {
    padding: 20px;
    display: inline-block;
}
#add-note {
    padding: 20px;
}
#edit-note {
    padding: 20px;
    display: inline-block;
 }
#edit-note.hide {
    display: none;
}
